/* Left.css */
.left-card {
  display: flex;
  margin: 2rem;
}

.layer-1 {
  background-color: white;
  color: white;
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 39rem;
  max-width: 22rem;
  margin-top: 5rem;
}

.profile-img {
  max-height: 20rem;
  max-width: 15rem;
  border-radius: 1rem;
  margin-top: 2rem;
  filter: grayscale(80%);
  transition: filter 0.3s ease !important;
}

.profile-img:hover {
  filter: grayscale(0%);
}

.profile-name {
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 1.2rem;
}

.profile-text {
  color: #707072;
  margin: 0rem 1rem 1.5rem 1rem;
  font-weight: 400;
  text-align: center;
}

.socials {
  display: flex;
  gap: 2.5rem;
  margin: 1rem;
}

.sIcon {
  color: #707072;
  transition: all 0.3s ease;
}

.sIcon:hover {
  color: #151312;
}

/* Extra Small Devices (Portrait Phones) */
@media (max-width: 576px) {
  .left-card {
    margin: 0 auto;
  }
  .layer-1 {
    margin: 0 auto;
    border-radius: 0em;
  }
}

/* Small Devices (Landscape Phones) */
@media (min-width: 577px) and (max-width: 768px) {
  .left-card {
    width: 100%;
    margin: 0 auto;
  }

  .layer-1 {
    width: 100%;
    margin: 0 auto;
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 769px) and (max-width: 1000px) {
  .left-card {
    margin: 0 auto;
  }
  .layer-1 {
    margin: 0 auto;
    border-radius: 0em;
  }
  .profile-name {
    text-align: center;
    font-size: 1.8rem;
    margin: 0.8rem;
    margin-top: 1.5rem;
  }
}

/* Large Devices (Laptops/Desktops) */
@media (min-width: 1001px) and (max-width: 1300px) {
  .layer-1 {
    max-height: 26rem;
    max-width: 14rem;
    margin-top: 2.5rem;
  }

  .profile-img {
    max-height: 13rem;
    max-width: 10rem;
    margin-top: 1.5rem;
  }

  .profile-name {
    text-align: center;
    font-size: 1.1rem;
    margin: 0.8rem;
  }

  .profile-text {
    margin: 0rem 0.5rem 0.2rem 0.5rem;
    font-size: 0.7rem;
  }
  .sIcon {
    color: #707072;
    width: 20px;
    height: 20px;
  }
}

/* Extra Large Devices (Large Screens) */
@media (min-width: 1201px) {
}
