.middle-content {
  display: flex;
  max-width: 76em;
}

.middle-1 {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.heading-1,
.heading-2 {
  font-size: 7.5rem;
  font-weight: bold;
  /*Animation*/
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.2s;
}

.heading-1 {
  padding-top: 3rem;
}

.heading-2 {
  color: #353334;
}

.sub-heading {
  margin-top: 3rem;
  max-width: 50rem;
  color: #998f8f;
  font-size: 1.5rem;
  /*Animation*/
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.4s;
}

.landing-brief {
  margin: 5rem 0 5rem 0 !important;
}

/* RECENT PROJECTS */
.section-heading-1 {
  margin-top: 1.2rem;
  font-size: 5.5rem;
  font-weight: bold;
  /*Animation*/
  animation: fadeIn 5s ease-out forwards;
  animation-delay: 0.5s;
}

.section-heading-2 {
  font-size: 5.5rem;
  font-weight: bold;
  color: #353334;
  /*Animation*/
  animation: fadeIn 3s ease-out forwards;
  animation-delay: 0.5s;
}

.project-cards {
  display: flex;
  flex-direction: column;
}

.project {
  max-width: 50rem;
  margin: 0;
  transition: transform 0.3s ease;
  transform-origin: left;
}

.project:hover {
  transform: scale(1.2);
  color: white;
}

.project:hover .description {
  color: rgb(202, 199, 199);
}

.project-link {
  text-decoration: none;
  color: white;
}

.description {
  color: #827f81;
}

.project-heading {
  display: inline-block;
}

.link-icon {
  margin-left: 20px;
  color: #827f81;
}

.project:hover .link-icon {
  color: white;
}

/* WORK EXPERIENCE */

.job-title {
  font-size: 1.7rem;
}

.job-description {
  color: #827f81;
  max-width: 60em;
  font-size: 1.2rem;
}

/* SKILLS */
.skill-cards {
  display: flex;
  max-width: 80em;
  flex-wrap: wrap;
}

/* Extra Small Devices (Portrait Phones) */
@media (max-width: 576px) {
}

/* Small Devices (Landscape Phones) */
@media (min-width: 577px) and (max-width: 768px) {
}

/* Medium Devices (Tablets) */
@media (min-width: 769px) and (max-width: 992px) {
}

/* Large Devices (Laptops/Desktops) */
@media (min-width: 993px) and (max-width: 1300px) {
  .middle-1 {
    padding-left: 0;
    padding-top: 1rem;
  }

  .heading-1,
  .heading-2 {
    font-size: 4.5rem;
  }

  .sub-heading {
    font-size: 1rem;
    max-width: 40rem;
  }

  .landing-brief {
    margin-bottom: 2rem;
    padding-right: 7rem;
    /* max-width: 40rem; */
  }

  .no {
    font-size: 2rem !important;
  }

  .landing-text {
    font-size: 0.7rem !important;
  }
}

/* Extra Large Devices (Large Screens) */
@media (min-width: 1201px) {
}
