:root {
  --transition: 0.3s ease-in-out;
}

.right-navbar {
  position: fixed;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
  margin-right: 3rem;
  border-radius: 0.8rem;
}

.nav-background {
  border-radius: 0.5rem;
  padding: 1rem;
}

.navButton {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray !important;
  /* transition: var(--transition); */
}

.navButton:hover {
  color: white !important;
  transform: scale(1.02) !important;
}

/* Extra Small Devices (Portrait Phones) */
@media (max-width: 576px) {
  .right-navbar {
    display: none;
  }
}

/* Small Devices (Landscape Phones) */
@media (min-width: 577px) and (max-width: 768px) {
  .right-navbar {
    display: none;
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 769px) and (max-width: 992px) {
  .right-navbar {
    display: none;
  }
}

/* Large Devices (Laptops/Desktops) */
@media (min-width: 993px) and (max-width: 1280px) {
  .nav-icon {
    width: 25px;
    height: 25px;
  }
}

/* Extra Large Devices (Large Screens) */
@media (min-width: 1201px) {
}
