@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Lexend+Deca:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
body {
  background: #151312;
  font-family: "Alexandria", sans-serif !important;
  transition: all 0.3s ease;
}

.box {
  display: flex;
  background-color: #151312;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
}

.two {
  flex: 1;
}
