@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Lexend+Deca:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
body {
  margin: 0;
  background: #151312;
}

.box {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #151312;
  color: white;
  margin: 0;
  font-family: "Alexandria", sans-serif;
}

/* LEFT */
.left-card {
  width: 700px;
  height: 100vh;
  margin-left: 6%;
  /* display: flex; */
}

.layer-1 {
  background-color: #ffffff;
  padding: 2.5rem;
  margin-top: 20%;
  margin-left: 10%;
  color: black;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  margin-bottom: 1.25rem;
  border-radius: 5%;
  width: 85%;
  height: 85%;
  /* align-items: center; */
}

.profile-name {
  padding-top: 2%;
  padding-bottom: 4%;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

.profile-text {
  color: #707072;
  font-size: 1.3rem;
  text-align: center;
}

/* RIGHT */
.right-navbar {
  width: 160px;
  height: 100vh;
  align-items: center;
  align-content: center;
  /* margin-right: 15px; */
}

/* MIDDLE */
.middle-content {
  min-height: 100vh;
  width: 80%;
  display: flex;
  padding-right: 200px;
  padding-left: 70px;
}

.middle-1 {
  width: 50%;
  padding: 2.5rem;
  margin-top: 5%;
  margin-left: 15%;
  color: l;
}
.sub-heading {
  color: #998f8f;
  margin-bottom: 10%;
  margin-top: 3%;
  margin-left: 1%;
  font-size: larger;
}

.landing-brief {
  padding-bottom: 8%;
}

.heading-1 {
  font-size: 7.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.heading-2 {
  margin-top: 0;
  font-size: 7.5rem;
  font-weight: bold;
  color: #353334;
}

.section-heading-1 {
  font-size: 5.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.section-heading-2 {
  margin-top: 0;
  font-size: 5.5rem;
  font-weight: bold;
  color: #353334;
}
