.box {
  display: flex; /* Equivalent to d-flex */
  position: relative;
  height: 100vh; /* Equivalent to vh-100 */
  background-color: black; /* Equivalent to bg-black */
  color: white; /* Equivalent to text-white */
  margin: 0;
}

.left-card {
  width: 500px;
  height: 100vh;
}

.right-navbar {
  width: 200px;
  height: 100vh;
  align-items: center;
  align-content: center;
}

.middle-content {
  min-height: 100vh;
  width: 80%;
  display: flex;
  padding-right: 200px;
  padding-left: 70px;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

body {
  margin: 0;
  background: black;
}
